/.metadata/
/Java_1/.metadata/
/Java_2/.metadata/
/Java_2/L3/Ex1_SwingCustom/target/
/Java_2/L4/Ex1_SWT/nbproject/private/
/Java_2/L4/Ex1_SWT/build/
/Java_2/Demo3/build/
/Java_2/Demo3/nbproject/private/
/Java_2/L4/Demo3/build/
/Java_2/L4/Demo3/nbproject/private/
/Java_2/L4/Demo4/nbproject/private/
/Java_2/L4/Demo4/build/
/Java_2/L4/Demo5/nbproject/private/
/Java_2/L4/Demo5/build/
/Java_2/L5/Ex1/nbproject/private/
/Java_2/L5/Ex1/build/
/Java_2/L5/Ex2_mysql_query/nbproject/private/
/Java_2/L5/Ex2_mysql_query/build/
/Java_2/L5/Ex3/nbproject/private/
/Java_2/L5/Ex3/build/
/Java_2/L6/Ex3_webservice/nbproject/private/
/Java_2/L6/Ex3_webservice/build/
